@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    
    /* font-size: 20px; */
}

body {
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

h1 {
    font-size: 30px !important;
    font-weight: 500;
}


h2 {
    font-size: 21px;
    font-weight: 500;
}

p {
    letter-spacing: 0.05em;
}

/* Estilo por defecto para pantallas grandes */
.image-container {
    width: 100%;
    height: auto;
}

.image-container img {
    width: 100%;
    height: auto;
}
.image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media (max-width: 740px) {
    .image-container img {
        height: auto;
    }
}

/* Estilo para pantallas medianas (tabletas) */
@media screen and (max-width: 768px) {
    .image-container {
        width: 100%;
        height: auto;
    }

    .image-container img {
        width: 100%;
        height: auto;
    }
}

/* Estilo para pantallas peque침as (m칩viles) */
@media screen and (max-width: 480px) {
    .image-container {
        width: 100%;
        height: auto;
    }

    .image-container img {
        width: 100%;
        height: auto;
    }
}












/* Inicio contenedores del texto */
.contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenedor p {
    width: 60%;
    text-align: justify;
    margin-right: 20px;
    margin-left: 20px;
}

.contenedor img {
    width: 25%;
    height: auto;
    margin-right: 5%;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
}

.img-tab-button {
    margin-top: 10px;
    margin-bottom: 10px;
}


@media screen and (max-width: 800px) {
    .contenedor {
        flex-direction: column;
    }

    .contenedor p {
        width: 100%;
    }

    .contenedor img {
        width: 70%;
        margin-top: 20px;
    }
}

/* Fin contenedores texto imagen */



/* Tab-button */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.tabs {
    background: #F5F5F5;
    padding: 20px 30px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 5px 10px 5px #ccc;
    margin-top: 150px;
    margin-bottom: 150px;
    overflow: auto;
}

.tabs .tab-header {
    height: 60px;
    display: flex;
    align-items: center;
}

.tabs .tab-header>div {
    width: calc(100%/3);
    text-align: center;
    color: #888;
    font-weight: 600;
    cursor: pointer;
    font-size: 14px;
    outline: none;
}

.tabs .tab-header>div>i {
    display: block;
    margin-bottom: 5px;
}

.tabs .tab-header>div.active {
    color: #6699CC;

}

.tabs .tab-indicator {
    position: relative;
    width: calc(100%/3);
    height: 5px;
    background: #6699CC;

    left: 0px;
    border-radius: 5px;
    transition: all 500ms ease-in-out;
}

.tabs .tab-body {
    position: relative;
    height: calc(100% - 60px);
    margin-top: 10px;
    padding: 10px 5px;
}

.tabs .tab-body>div {
    height: 0;
    opacity: 0;
    transition: opacity 500ms ease-in-out, height 0s 500ms;
    pointer-events: none;
    overflow: hidden;
}

.tabs .tab-body>div.active {
    height: auto;
    opacity: 1;
    transition: opacity 500ms ease-in-out, height 0s;
    pointer-events: auto;
}

.img-tab-button {
    margin-bottom: 10px;
    margin-top: 10px;
}

@media screen and (max-width: 5000px) {
    .tabs {
        width: 60%;
    }
}

@media screen and (max-width: 1250px) {
    .tabs {
        width: 80%;
    }
}

@media screen and (max-width: 1100px) {
    .tabs {
        width: 90%;
    }

    .header .nav-links a {
        font-size: 17px;
    }

    .header .nav-links li {
        padding: 0 5px;
    }

    .header .logo img {
        height: 30px;
    }

}

@media screen and (max-width: 800px) {
    .tabs {
        width: 95%;
    }

    .nav-links,
    .btn {
        display: none;
    }

    .menu {
        display: inherit;
    }

    .header .logo img {
        height: 45px;
    }
}
/* Fin tab-button */








/* Textos */
.texto {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 100px;
}

.texto .titulo {
    text-align: center;
    color: #6699CC;
    font-size: 23px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.texto .titulo-about {
    text-align: center;
    color: #6699CC;
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.text-general {
    font-size: 25px;
}

.text-center {
    text-align: justify;
}

.listas{
    font-size: 25px;
    text-align: center;
}

@media screen and (max-width: 5000px) {
    .text-general {
        font-size: 23px;
    }
}

@media screen and (max-width: 1250px) {
    .text-general {
        font-size: 21px;
    }
}

@media screen and (max-width: 1100px) {
    .text-general {
        font-size: 19px;
    }
}

@media screen and (max-width: 800px) {
    .text-general {
        font-size: 17px;
    }
}



.parrafo {
    margin-top: 20px;
    font-size: 20px;
}

.parrafo-about p {
    margin-top: 20px;
    font-size: 30px;
}


@media screen and (max-width: 5000px) {
    .texto {
        margin-left: 20%;
        margin-right: 20%;
    }
}

@media screen and (max-width: 1250px) {
    .texto {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media screen and (max-width: 1100px) {
    .texto {
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media screen and (max-width: 800px) {
    .texto {
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
}
/* FIn textos */









/* Footer */

.pie-pagina {
    margin-top: 50px;
    width: 100%;
    background-color: #6699CC;
    color: #F2F2F2;
    padding: 20px;
    font-size: 16px;
}

.pie-pagina .grupo-1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.pie-pagina .grupo-1 .box,
.pie-pagina .grupo-1 .links {
    flex: 1 1 200px;
    margin-bottom: 20px;
}

.pie-pagina .grupo-1 .box figure {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.pie-pagina .grupo-1 .box figure img {
    max-width: 100%;
    max-height: 80px;
    object-fit: contain;
}

.img-center {
    margin-top: 30px;
}


.pie-pagina .grupo-1 .box h2,
.pie-pagina .grupo-1 .links h2 {
    margin-bottom: 15px;
    margin-top: 30px;
    color: #F2F2F2;
    text-align: center;
}

.pie-pagina .grupo-1 .box p {
    color: #ddd;
    text-align: justify;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .links a {
    display: block;
    color: #ccc;
    text-decoration: none;
    text-align: center;
    margin-top: 10px;
}

.pie-pagina .grupo-1 .links a:hover {
    color: #fff;
    text-decoration: underline;
}

.pie-pagina .grupo-2 {
    text-align: center;
    font-size: 14px;
}

.pie-pagina .grupo-2 small {
    color: #ccc;
}

@media (max-width: 600px) {
    .pie-pagina .grupo-1 {
        flex-direction: column;
    }

    .pie-pagina .grupo-1 .box,
    .pie-pagina .grupo-1 .links {
        margin-bottom: 0;
    }

    .pie-pagina .grupo-1 .box figure img {
        max-height: 50px;
    }

    .img-center {
        margin-top: 18%;
    }
}




/* Estilos para el modal */

#contactModal, #backdrop {
    display: none;
    transition: opacity 0.3s ease;
    opacity: 0;
}

#contactModal.active, #backdrop.active {
    display: block;
    opacity: 1;
}

#backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9998;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
}


.container-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    display: none;
    align-items: center;
    max-width: 700px;
    background: #e9e8e8;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1),
        0px 5px 12px -2px rgba(0, 0, 0, 0.1),
        0px 18px 36px -6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 10px;
    transition: opacity 0.3s ease-in-out;
}
.container-modal.show {
    display: inline;
    opacity: 1;
}

.container-modal .title a.close {
    text-decoration: none;
    position: absolute;
    right: 20px;
    top: 20px;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    color: white;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.2s;
}
.container-modal .title a.close:hover {
    color: #ddd;
}

.container-modal .title {
    padding: 25px;
    background: #6699CC;
}

.container-modal .title p {
    font-size: 25px;
    font-weight: 500;
    position: relative;
    color: #F2F2F2;
}

.container-modal .title p::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 3px;
    background: #315496;
}

.user-details {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 25px;
}

.user-details .input-box {
    width: calc(100% / 2 -20px);
    margin: 0 0 12px 0;
}

.input-box label {
    color: #315496;
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
}

.input-box input {
    background: #F2F2F2;
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 20px;
    padding-left: 15px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    background-color: #ccc;
    transition: all 120ms ease-out 0s;
}



.input-box input:focus,
.input-box input:valid {
    box-shadow: 0px 0px 0px 2px royalblue;
}

form .destino {
    padding: 0px 25px;
}

.destino .correo-destino {
    font-size: 20px;
    font-weight: 500;
}

.destino .categoria {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.destino .categoria label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.destino .categoria label .dot {
    height: 18px;
    width: 18px;
    background: #ccc;
    border-radius: 50%;
    margin-right: 10px;
    border: 4px solid transparent;
    transition: all 0.3s ease;
}

#radio-1:checked~.categoria label .one,
#radio-2:checked~.categoria label .two,
#radio-3:checked~.categoria label .three {
    border-color: #315496;
    background: #315496;;
}


.destino input {
    display: none;
}

.enviar {
    padding: 25px;
    margin: 15px 0;
}

.enviar input {
    height: 45px;
    width: 100%;
    border: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    background: #315496;
    border-radius: 5px;
    color: #ffffff;
    letter-spacing: 1px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}




@media screen and (max-width: 584px) {
    .user-details {
        max-height: 340px;
        overflow: scroll;
    }

    .user-details::-webkit-scrollbar {
        width: 0;
    }

    .user-details .input-box {
        width: 100%;
    }

    .destino .categoria {
        width: 100%;
    }
}

@media screen and (max-width: 419px) {
    .destino .categoria {
        flex-direction: column;
    }
}


.container-modal.fade-in {
    animation: fade-in 0.700ms ease-out;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Estilos para tama침os de pantalla peque침os */
@media screen and (max-width: 480px) {
    .container-modal {
        width: 90%; 
        max-width: 90%; 
    }
    .user-details {
        max-height: 340px;
        overflow: scroll;
    }

    .user-details .input-box {
        width: 100%;
    }

    .destino .categoria {
        width: 100%;
    }

    .container-modal .title p {
        font-size: 20px;
    }

    .input-box label {
        font-size: 14px;
    }

    .input-box input {
        height: 35px;
    }

    .destino .correo-destino {
        font-size: 16px;
    }

    .enviar input {
        height: 35px;
    }
}

.input-box textarea {
    background: #F2F2F2;
    width: 100%;
    height: 150px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 20px;
    padding: 15px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    background-color: #ccc;
    transition: all 120ms ease-out 0s;
}

.input-box textarea:focus,
.input-box textarea:valid {
    box-shadow: 0px 0px 0px 2px royalblue;
}

.enviar input {
    transition: background 0.3s ease, transform 0.3s ease;
}

.enviar input:hover {
    background: #214272;
    transform: scale(1.05); 
}

.enviar input:active {
    transform: scale(1); 
}




/* Fin estilos modal */